
.card_img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    overflow: hidden;
    background-color: #090805;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card_img img {
    width: 100%;
}

.card_poster {
    width: 100%;
    position: absolute;    
}

.card_poster span {
    width: 100%;
    color: beige;
    font-size: 2vw;
    line-height: 150%;
    display: flex;
    justify-content: center;
}