
.card_img {
    width: 100%;
    overflow: hidden;
    background-color: #090805;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card_poster {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.card_poster span {
    width: 100%;
    color: beige;
    font-size: 1.5vw;
    line-height: 150%;
    display: flex;
    justify-content: center;
}