
.card_img {
    width: 100%;
}

.card_img img {
    width: 100%;
}

.card_poster {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -67%);
    width: 560px;
}

.card_poster span {
    width: 100%;
    color: beige;
    font-size:large;
    line-height: 150%;
    display: flex;
    justify-content: center;
}