#leaf {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leaf-container {
    width: 20%;
    height: auto;
    display: flex;
    margin: 0 2%;
    text-align: center;
    flex-direction: column;
}
.leaf {
    width: 100%;
    height: auto;
    margin-bottom: 30%;
}


.leaf-span {
    font-size: 1.5vw;
}

