.welcome {
    height: 80%;
    width: auto;
    text-align: center;
    display:flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}


.welcome_desc {
    width: 100%;
    margin-top: 2vh;
}


.welcome_text {
    font-size: 1.7vw;
    opacity: 0.7;
}

.welcome_end {
    margin-top: 2vh;
    font-size: 1.5vw;
}